body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: background-image 1.2s ease;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

}

.overlay_visible {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    opacity: 1;
    user-select: none;
    backdrop-filter: blur(5px);
    transition: opacity 0.20s linear;
}

.slider {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.20s linear;
    z-index: 10;
}

.slider_hidden {
    opacity: 0;
    visibility: hidden;
}

#img_container {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 10;
}

#img_container .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% 50%;
    user-select: none;
    transition: width 1200ms ease;
    cursor: pointer;
}

.image-enlarged {
    width: 80vmin !important;
    height: 56vmin;
}

.image-container {
    position: relative;
    display: inline-block;
}

.fullscreen {
    position: absolute;
    bottom: 20px;
    right: 20px;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.fullscreen>i {
    font-size: 2rem;
    color: whitesmoke;
}

.fullscreen-visible {
    transform: scale(1);
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.exit-fullscreen {
    position: absolute;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    transform: scale(0);
}

.exit-fullscreen i {
    font-size: 3rem;
    color: whitesmoke;
}

.exit-fullscreen_visible {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    transition: transform 0.5s ease, opacity 0.5s ease;
}